<% if current_user.role.role_name.downcase != "supervisor"%>
<h1>Access Denied</h1>
<%else%>


<!-- Validation failure messages -->
<% if @department.errors.any? %>
  <% @department.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Department</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_department" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for department_name -->
      <div class="form-group">
        <label for="department_name" class="control-label">
          Department name
        </label>

        <input type="text" id="department_name" name="department_name" placeholder="Department name" class="form-control" value="<%= @department.department_name %>">
      </div>

      <button class="btn btn-success">
        Create Department
      </button>
      or
      <a href="/departments">Cancel</a>
    </form>
  </div>
</div>

<%end%>
